{% extends 'template.html' %}

{% block body %}
    <section class="head" >
        <div>
            <h1>API control panel</h1>
            <p>Used for sending data in JSON format to the MINO web application</p>
        </div>
    </section>
    <section class="controll-grid" >
        <div class="card">
            <div class="wr">
                <div>
                    <h2>Get Collections</h2>
                    <p>
                        Get JSON data of all MINO collections
                    </p>
                    <button style="margin-top: 18px;" >
                        <a href="/mino-api/get-collections">Go</a>
                    </button>
                </div>
                <p class="date">2/3/2021</p>
            </div>
        </div>
        <div class="card">
            <div class="wr wr-center">
                <div>
                    <h2>Get Collections to ID</h2>
                    <p>
                        Get the JSON data of certain MINO collections by the ID entered in the input below. Just enter the ID of the collection you need
                    </p>
                    <div class="form">
                        <input type="number" placeholder="Input ID" maxlength="10" >
                        <button id="id-b">
                            <a href="/mino-api/get-collections" id = "id-placed" >Go</a>
                        </button>
                    </div>
                    <span class="err" style="margin-top: 20px; display: none; color: red;"  >This collection ID does not exist.</span>
                </div>
                <p class="date">2/3/2021</p>
            </div>
        </div>
        <div class="card">
            <div class="wr">

            </div>
        </div>
    </section>
{% endblock body %}

