{% extends 'template.html' %}

{% block body %}
    <section class="head" >
        <div>
            <h1>API control panel</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing </p>
        </div>
    </section>
    <section class="controll-grid" >
        <div class="card">
            <div class="wr">
                <div>
                    <h2>Get Collections</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    </p>
                    <button>
                        <a href="/mino-api/get-collections">Go</a>
                    </button>
                </div>
                <p class="date">2/3/2021</p>
            </div>
        </div>
        <div class="card">
            <div class="wr wr-center">

            </div>
        </div>
        <div class="card">
            <div class="wr">
                
            </div>
        </div>
    </section>
{% endblock body %}

